<h2>Products List</h2>
<div style="background-color:burlywood" 
*ngFor="let productOuter of products">
<!-- ID : {{product.id}} <br/> -->
<a [title] = "productOuter.name + ' details.'">
  {{productOuter.name}}
</a>

<p *ngIf="productOuter.description">
  Description : {{productOuter.description}}
</p>

<!-- Price : {{product.price}} <br/> -->
<hr/>
<!-- Event Binding -->
<button (click) = "share()">
  Share Product
</button>

<!-- The angular selector -->
<app-product-alerts [productInner]="productOuter">
</app-product-alerts>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->